{:source-paths ["src" "test"]
 :dependencies []
 :builds
 {:npm
  {:target :node-library
   :output-to "dist/index.js"
   :exports {:createBlinkAgency polymer.core/createBlinkAgency}}

  :worker
  {:target :browser
   :output-dir "dist/worker"
   :modules {:blink-worker {:init-fn polymer.worker/init}}}

  :test
  {:target :node-test
   :output-to "dist/test.js"
   :ns-regexp "polymer\\..*-test$"}}}
