{:source-paths ["src" "test"]
 :dependencies []
 :builds
 {:npm
  {:target :node-library
   :output-to "dist/index.js"
   :exports {:createBlinkAgency polymer.core/createBlinkAgency
             :createAnimationAgency polymer.core/createAnimationAgency
             :createGazeAgency polymer.core/createGazeAgency
             :createEyeHeadTrackingAgency polymer.core/createEyeHeadTrackingAgency
             :createLipSyncAgency polymer.core/createLipSyncAgency
             :createTTSAgency polymer.core/createTTSAgency
             :createGestureAgency polymer.core/createGestureAgency
             :createProsodicAgency polymer.core/createProsodicAgency
             :createConversationAgency polymer.core/createConversationAgency
             :createTranscriptionAgency polymer.core/createTranscriptionAgency
             :createHairAgency polymer.core/createHairAgency
             :createCameraContextAgency polymer.core/createCameraContextAgency
             :createCharacterAgencies polymer.core/createCharacterAgencies}}

  :worker
  {:target :browser
   :output-dir "dist/worker"
   :modules {:agency-worker {:init-fn polymer.worker/init}}}

  :test
  {:target :node-test
   :output-to "dist/test.js"
   :ns-regexp "polymer\\..*-test$"}}}
